
.photoContainer {
    margin: 24px auto 0;
    max-width: 1850px;
    min-height: 1500px;
    padding: 0 13px 0 28px;
    display: -webkit-flex;
    display: flex;
}

.box {
    display: block;
    position: relative;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 1.45rem;
    margin-bottom: 15px;
}

.box img {
    width: 100%;
}

.boxInfo {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
    left: 0;
    bottom: 5px;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box:hover .boxInfo {
    opacity: 1;
    visibility: visible;
}

.boxInfo ul {
    display: flex;
    height: 100%;
    list-style: none;
    justify-content: space-between;
}

.author {
    text-decoration: none;
    display: flex;
    color: white;
    opacity: 0.7;
}

.author:hover {
    opacity: 1;
}

.downloadIcon {
    margin: 5px;
}

.addToCollectionIcon {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 5px;
}

.likeIcon {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 5px;
}