* {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, cantarell, helvetica neue, ubuntu, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerHomePage {
    margin: auto;
    max-width: 1400px;
    min-height: 1500px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.title {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}


.titleContent {
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.photoContainer {
    margin: 24px auto 0;
    max-width: 1850px;
    min-height: 1500px;
    padding: 0 13px 0 28px;
    display: -webkit-flex;
    display: flex;
}
